body{
    font-family: "Arial", sans-serif;
    font-size: 14px;
    margin: 0 0 0 0;
}
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.content-by-side {
    width: 7.5%;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 auto;
}

.content-center{
    width: 1000px;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 auto;
}

.content-logo-container{
    display: flex;
    flex-direction: row;
    margin-top: 15%;
}

.content-input-container{
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    border-color: #DFE1E5;
}

.content-input-container:hover{
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.10);
}

.logo-img{
    width: 25%;
    margin: 0 auto;
}

.input-by-side{
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 7px;
    margin-right: 10px;
}

.input-center{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.magnifier-img{
    width: 24px;
    height: 24px;
    margin: 5px auto 0;
}

.close-img{
    width: 24px;
    height: 24px;
    margin: 5px auto 0;
}

.input-element{
    margin-top: 5px;
    width: 100%;
    height: auto;
    font-size: 18px;
    border: none;
}

.input-element:focus{
    outline: none;
}

.content-row{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.search-button{
    margin: 0 auto;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-family: arial,sans-serif;
    font-size: 14px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    color: transparent;
}

.search-button:hover{
    border-color: gray;
}

.search-button:focus{
    outline: none;
}